<!-- This is footer section -->

<div class="bg-light mx-auto px-5">
  <div class="container row mx-auto py-4">
    <!-- first column -->
    <div class="col-md-4 mx-auto">
      <div class="row">
        <div class="col-12">
          <h3>LOGO</h3>
        </div>
        <div class="col-12 my-4">
          Many desktop publishing packages and web page editors now use will
          uncover many web sites still in their infancy
        </div>
        <div class="col-12 mb-3">
          <button class="btn fab fa-twitter mx-1"></button>
          <button class="btn fab fa-facebook mx-1"></button>
          <button class="btn fab fa-linkedin mx-1"></button>
          <button class="btn fab fa-pinterest-square mx-1"></button>
        </div>
      </div>
    </div>

    <!-- second column -->
    <div class="col-md-4 mx-auto">
      <div class="row">
        <div class="col-7">
          <h3>Terms of use</h3>
          <p class="btn">Privacy and Policy</p>
          <p class="btn">Return Policy</p>
          <br />
          <p class="btn">Shipping</p>
        </div>
        <div class="col-5">
          <p class="btn">Account</p>
          <p class="btn">Wish List</p>
          <p class="btn">Shopping Cart</p>
          <p class="btn">Track My order</p>
        </div>
      </div>
    </div>

    <!-- Third column -->
    <div class="col-md-4 mx-auto">
      <h3>Subscribe News Letter</h3>
      <p>Stay informed with latest news and updates</p>

      <div class="d-flex">
        <div class="d-flex bg-white w-75 border border-danger">
          <div class="btn bg-white">
            <i class="fas fa-envelope"></i>
          </div>
          <input
            type="text"
            class="border-0 bg-white form-control"
            placeholder="Enter Email address"
          />
        </div>
        <span class="btn btn-danger mx-2">Send</span>
      </div>
    </div>
  </div>
</div>

<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; Website 2022</p>
  </div>
</footer>
